{
  "extends": ["react-app", "react-app/jest", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "trailingComma": "none"
      }
    ],
    "comma-dangle": ["error", "never"]
  }
}
